{% extends 'main/base.html' %}

{% load static %}

{% block title %}Fire Scraper | Login{% endblock %}

{% block head %}

{% endblock %}


{% block body_content %}



<div class="content">
      <div id="topColor"></div>

        <!-- Navbar -->
        <nav class="mb-1 navbar navbar-dark z-depth-0" style="background: transparent !important;">
          <a class="navbar-brand brand-text" href="{% url 'main:home' %}"><span class="text-main-color">Fire</span> Scraper</a>
          <div id="navbarSupportedContent-333">
            <ul class="navbar-nav ml-auto nav-flex-icons">
              <li class="nav-item">
                <a href="{% url 'main:login' %}" class="btn btn-primary waves-effect">
                  Sign in<i class="fa fa-arrow-right ml-1"></i>
                </a>
              </li>
            </ul>
          </div>
        </nav>
        <!-- /Navbar -->

        <section id="info">
          <div class="container">
            <div class="row align-items-center justify-content-center" style="height: 100vh;">

              <div class="col-sm-12 col-md-6">
                      <div class="card">
                          <h5 class="card-header info-color white-text text-center py-4">
                            <strong>Get started for free</strong>
                          </h5>
                
                          <!--Card content-->
                          <div class="card-body px-lg-5 pt-0">
                
                            <!-- Form -->
                            <form class="text-center" style="color: #757575;" action="" method="POST">{% csrf_token %}
                
                              <!-- Username -->
                              <div class="md-form ">
                                <input type="text" id="materialRegisterFormUsername" name="username" class="form-control">
                                <label for="materialRegisterFormUsername">Username</label>
                              </div>
                
                              <!-- E-mail -->
                              <div class="md-form mt-0">
                                <input type="email" id="materialRegisterFormEmail" name="email" class="form-control">
                                <label for="materialRegisterFormEmail">E-mail</label>
                              </div>
                
                              <!-- Password -->
                              <div class="md-form">
                                <input name="password" type="password" id="materialRegisterFormPassword" class="form-control" pattern="(?=.*\d).{8,}" aria-describedby="materialRegisterFormPasswordHelpBlock">
                                <label for="materialRegisterFormPassword">Password</label>
                                <small id="materialRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                                  At least 8 characters and 1 digit
                                </small>
                              </div>
                
                              <!-- Sign up button -->
                              <button name="register" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Start saving now</button>
                
                              <!-- Social register -->
                              <p>or sign up with:</p>
              
                              <a type="button" class="btn-floating btn-git btn-sm waves-effect waves-light">
                                <i class="fa fa-github"></i>
                              </a>
                
                            </form>
                            <!-- Form -->
                          </div>
                
                        </div>
                      <!-- /Sign up form -->
              
              </div>
            </div>
          </div>
        </section>
</div>

{% endblock %}