{% extends 'dashboard/base.html' %}
{% load static %}

{% block head %}

<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<!--     Fonts and icons     -->
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- CSS Files -->
<link href="{% static 'dashboard/css/material-dashboard.css' %}" rel="stylesheet" />
<link href="{% static 'dashboard/css/custom.css' %}" rel="stylesheet" />

<!-- CSS Just for demo purpose, don't include it in your project -->
<!--<link href="{% static 'dasboard/demo/demo.css' %}" rel="stylesheet" />-->

{% endblock %}


{% block body_content %}

<div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo">
        <a href="{% url 'main:home' %}" class="simple-text logo-normal">
          Fire Scraper
        </a>
      </div>
      <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
                  <i class="material-icons">dashboard</i>
                  <p>Dashboard</p>
                </a>
              </li>
              <li class="nav-item ">
                <a class="nav-link" href="{% url 'dashboard:profile' %}">
                  <i class="material-icons">person</i>
                  <p>User Profile</p>
                </a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'dashboard:view' %}">
                  <i class="material-icons">content_paste</i>
                  <p>Manage Links</p>
                </a>
              </li>
              <li class="nav-item active-pro ">
                <a class="nav-link" href="{% url 'main:logout' %}">
                  <i class="material-icons">power_settings_new</i>
                  <p>Log out</p>
                </a>
              </li>
        </ul>
      </div>
    </div>
    <div class="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <a class="navbar-brand">Manage Links</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
          </button>
          <div class="collapse navbar-collapse justify-content-end">
            <form class="navbar-form">
              <div class="input-group no-border">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <button type="submit" class="btn btn-white btn-round btn-just-icon">
                  <i class="material-icons">search</i>
                  <div class="ripple-container"></div>
                </button>
              </div>
            </form>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#pablo">
                  <i class="material-icons">dashboard</i>
                  <p class="d-lg-none d-md-block">
                    Stats
                  </p>
                </a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">notifications</i>
                  <span class="notification">5</span>
                  <p class="d-lg-none d-md-block">
                    Some Actions
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item" href="#">Mike John responded to your email</a>
                  <a class="dropdown-item" href="#">You have 5 new tasks</a>
                  <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                  <a class="dropdown-item" href="#">Another Notification</a>
                  <a class="dropdown-item" href="#">Another One</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="material-icons">person</i>
                  <p class="d-lg-none d-md-block">
                    Account
                  </p>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                  <a class="dropdown-item" href="#">Profile</a>
                  <a class="dropdown-item" href="#">Settings</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Log out</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">Product Links</h4>
                  <p class="card-category"> View, add, remove or suspend your links</p>

<!-- Button trigger modal -->
<button type="button" class="btn btn-success btn-round" data-toggle="modal" data-target="#exampleModal">
  <i class="material-icons">playlist_add</i>
</button>

<button type="submit" class="btn btn-success btn-round" onclick="refreshTable()">
  <i class="material-icons">refresh</i>
</button>



                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class=" text-primary">

                        <th class="text-center">#</th>
                        <th>Company</th>
                        <th>Product</th>
                        <th>Threshold</th>
                        <th>Actions</th>
                        <th>Status</th>

                      </thead>
                      <tbody class="link-table">

                        {% for link in links %}
                        
                        <tr>
                            <td class="text-center">{{ link.pk }}</td>
                            <td>{{ link.store }}</td> 
                            <td>{{ link.title }}</td>
                            <td>&dollar;{{ link.threshold }}</td>
                            <td class="td-actions">

                                    <button name="edit_link" type="button" rel="tooltip" class="btn btn-success btn-round open-modal" data-toggle="modal" data-url="{% url 'dashboard:modal' linkid=link.pk %}">
                                        <i class="material-icons">edit</i>
                                    </button>

                                    <button id="delete-button" name="delete_link" type="button" rel="tooltip" class="btn btn-danger btn-round" data-id="{{link.pk}}">
                                        <i class="material-icons">close</i>
                                    </button>
                            </td>

                            {% if link.active == "True" %}
                            <td class="text-success">Active</td>
                            {% else %}
                            <td class="text-danger">Inactive</td>
                            {% endif %}
                        </tr>

                        {% endfor %}

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- Add Link Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Link</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        
        <form id="form_add" method="POST">
            {% csrf_token %}


          <div class="form-group">
            <label class="bmd-label-floating">Company</label>
            <input id="company" name="company" type="text" class="form-control">
          </div>

          <div class="form-group">
            <label class="bmd-label-floating">Product Name</label>
            <input id="product_name" name="product_name" type="text" class="form-control">
          </div>

            <div class="form-group">
          <label class="bmd-label-floating">Link</label>
          <input id="url" name="url" type="text" class="form-control">
        </div>

        <div class="form-group">
          <label class="bmd-label-floating">Threshold</label>
          <input id="threshold" name="threshold" type="number" class="form-control">
        </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button name="add_link" type="submit" class="btn btn-primary">Add</button>
      </div>
    </form>
    </div>
  </div>
</div>


<div class="modal-div">

</div>




{% endblock %}